div(class="") 
  div(class="wrapper py-[20px] px-[30px] flex text-[24px] justify-between bg-black text-white")
    h1(claas="") ATSH Tracker
    ul(class="")
      li
        a(href="/home/upload") Upload
