extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main

  div(class="container mx-auto")
    div(class="wrapper")

      +box-head(pageTitle)

      form(action="/home/upload" method="POST" enctype="multipart/form-data")
        label(for="upload" class="block") Nhập vào file của bạn
        input(type="file" name="file" id="upload" class="block")
        button(type="submit" class="bg-black text-white p-2 rounded-[10px] hover:bg-white hover:text-black") Tải lên
